body {
  background-color: #1F2227; }

.loading-dots-container {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 80px;
  left: calc(50% + 160px);
  top: 50%; }
  .loading-dots-container .loading-dot {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #1768A4;
    border-radius: 50%;
    overflow: visible;
    margin: 0 5px; }
    .loading-dots-container .loading-dot:first-of-type {
      margin-left: auto; }
    .loading-dots-container .loading-dot:last-of-type {
      margin-right: auto; }
    .loading-dots-container .loading-dot:nth-of-type(1) {
      animation: shrink 1s ease infinite 0s; }
    .loading-dots-container .loading-dot:nth-of-type(2) {
      animation: shrink 1s ease infinite 0.2s; }
    .loading-dots-container .loading-dot:nth-of-type(3) {
      animation: shrink 1s ease infinite 0.4s; }

@keyframes shrink {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0); } }
