@inherits LayoutComponentBase

<div id="layoutWrapper">
    <nav class="top-bar auth">
        <TopNav />
    </nav>

    <div class="main">
        <div class="side-bar">
            <SideNav />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>