ul.sidenav {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  height: 100%;
  padding: 30px 0px 30px 20px;
  margin: 0;
  list-style: none;
  background-color: #282828;
  border-radius: 5px; }
  ul.sidenav li.sidenav-item {
    position: relative;
    font-size: large;
    height: 50px; }
    ul.sidenav li.sidenav-item .fa, ul.sidenav li.sidenav-item .fas, ul.sidenav li.sidenav-item .fab {
      margin-right: 20px; }
    ul.sidenav li.sidenav-item .sidenav-icon {
      width: 1em;
      margin-right: 1em; }
    ul.sidenav li.sidenav-item ::deep > .sidenav-item-content, ul.sidenav li.sidenav-item > .sidenav-item-content {
      display: inline-flex;
      flex-flow: row nowrap;
      align-items: center;
      height: 100%;
      text-align: left;
      width: 100%;
      cursor: pointer;
      color: #F6F6F7;
      user-select: none;
      transition: background-color 0.25s ease 0s; }
      ul.sidenav li.sidenav-item ::deep > .sidenav-item-content.active, ul.sidenav li.sidenav-item > .sidenav-item-content.active {
        background-color: #3975CA; }
    ul.sidenav li.sidenav-item:hover ::deep > .sidenav-item-content:not(.active) {
      background-color: #353535; }
    ul.sidenav li.sidenav-item.sidenav-item-collection:hover > .sidenav-item-content {
      background-color: #353535; }
    ul.sidenav li.sidenav-item.sidenav-item-collection > .sidenav-item-content {
      padding: .5rem 1rem; }
      ul.sidenav li.sidenav-item.sidenav-item-collection > .sidenav-item-content::before {
        content: '\f0d7';
        display: inline-block;
        position: relative;
        margin-right: 20px;
        transition: transform 0.25s ease 0s;
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        font-weight: 900;
        text-align: center;
        width: 1.25em; }
    ul.sidenav li.sidenav-item.sidenav-item-collection + li.collection-container {
      position: relative;
      height: 0;
      overflow: hidden;
      transition: height 0.25s ease 0s; }
      ul.sidenav li.sidenav-item.sidenav-item-collection + li.collection-container ul.collection-container-body {
        max-height: 100%;
        overflow-y: auto;
        list-style: none;
        padding: 0; }
        ul.sidenav li.sidenav-item.sidenav-item-collection + li.collection-container ul.collection-container-body li.collection-item {
          height: 50px; }
          ul.sidenav li.sidenav-item.sidenav-item-collection + li.collection-container ul.collection-container-body li.collection-item ::deep > .collection-item-content {
            display: inline-flex;
            flex-flow: row nowrap;
            align-items: center;
            height: 100%;
            text-align: left;
            width: 100%;
            cursor: pointer;
            color: #F6F6F7;
            user-select: none;
            transition: background-color 0.25s ease 0s; }
            ul.sidenav li.sidenav-item.sidenav-item-collection + li.collection-container ul.collection-container-body li.collection-item ::deep > .collection-item-content.active {
              background-color: #3975CA; }
          ul.sidenav li.sidenav-item.sidenav-item-collection + li.collection-container ul.collection-container-body li.collection-item:hover:not(.active) {
            background-color: #353535; }
    ul.sidenav li.sidenav-item.sidenav-item-collection.active > .sidenav-item-content::before {
      transform: rotate(180deg); }
    ul.sidenav li.sidenav-item.sidenav-item-collection.active + li.collection-container {
      height: 200px; }
