$red: #E54B4B;
$orange: #F06543;
$yellow: #F9F871;
$green: #81F495;
$blue: #3975CA;
$purple: #4A314D;
$white: #F6F6F7;
$grey: #282828;
$grey-dark: #1F1F1F;

$color-map: ("red": $red, "orange": $orange, "yellow": $yellow, "green": $green, "blue": $blue, "purple": $purple);

$primary-color: $blue;
$text-color: $white;
$background-color: $grey-dark;
$foreground-color: $grey;