$transition-duration: .25s;
$transition-timing-function: ease;

$border-radius: 5px;

// swiped from bootstrap
// https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;