@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@section Styles {
    <link href="~/css/login.min.css" rel="stylesheet" />
}

<div id="loginContainer">
    <div class="login-body">
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <h1>Select a provider</h1>
            @foreach (var provider in Model.ExternalLogins)
            {
                <button type="submit" class="provider-button provider-google" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
            }
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
